$primary-color: #116193;
$secondary-color:#ebebeb;

$primary-text-color: #7a7a7a;
$secondary-text-color: #00e8e4;


.content{
    display: flex;
    max-width: 100%;
    overflow: hidden;
    padding: 16px;
    flex-direction: column;
}

.grid-flex{
    display: flex;
    max-width: 100%;
    padding: 16px;
}

.flex-center{
    justify-content: center;
}

.flex-posicao-column{
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
} 
.grid-flex-child-6{
    flex:50%;
    max-width: 50%;
}

.grid-flex-child-12{
    flex:100%;
    max-width: 100%;
}

.erro{
    font-size: 1em;
    color: $primary-text-color;
}


/* Telefones em paisagem e abaixo */
@media (max-width: 480px) { 
    .grid-flex-child-6{
        flex: 1;
        min-width: 100%;
    }
    .grid-flex, .content{
        padding: 2px 0;
    }
}

/* Telefones em paisagem a tablet em retrato */
@media (max-width: 767px) {
    .grid-flex-child-6{
        flex: 1;
        min-width: 100%;
    }
}

/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 979px) {
    /* estilos aqui */
}

/* Desktop grande */
@media (min-width: 1200px) {
   /* estilos aqui */
}

button{
    box-sizing: border-box;
    position: relative;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    overflow: visible;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);

}

